.btn a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #092677;
    color: #092677;
    display: block;
    margin: 25px auto 0;
    text-align: center;
  }
  .contactus{
      text-align: center;
      padding: 5% 10%;
      background: rgb(141, 190, 192);
  }
  /* Contact us */
  .form_wrapper .form_input{
      margin-bottom: 15px;
  }
  
  .form_wrapper .form_input input[type="text"]{
      width: 250px;
      padding: 12px 20px; 
      border: 1px solid #ccc;
  }
  
  .form_wrapper .form_input textarea{
      width: 250px;
      padding: 12px 20px; 
      height: 80px;
      resize: none;
      border: 1px solid  #ccc;
  }
  