*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper1{
	display: grid;
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 15%;
	margin-bottom: 5%;
	
}

body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}
	
.airline-container{
    width: 60vw;
    height: 30vh;
    display: grid;
	grid-template-columns:repeat(5,1fr);
	border: 2px solid #555;
	background-color: #fffefe;
	margin-bottom: 20px;
}

.airline-container .airline{
	width: 100px;
	grid-column:1/2;
	grid-row: 1;
	margin-top: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.airline-container .airline i{
	color: rgba(45, 69, 202, 0.767);
	justify-content: center;
	align-items: center;
	text-align: center;
}
.airline-container .airline h4{
	justify-content: center;
	text-align: center;
	align-items: center;
}
.airline-container .ticket-details{
	width: 500px;
	grid-column:3/4;
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.airline-container .ticket-details .ar-details{
	
	margin-right: 5rem;
}

.airline-container .ticket-details .ds-details{
	
	margin-left: 5rem;
}
.airline-container .ticket-details i{
	color: red;
}
.airline-container .ticket-price{
	grid-column:5/6;
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 20px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 500px){
	
	.login-content h2{
        font-size: 2rem;
        margin: 18px 0;
	}
	.input-div > div > h5{
		font-size: 1rem;
	}
	.btn{
		width: 80%;
		height: 80%;
	}
}
